<html>
<head>
<title> Pickett, Ryan: Homepage in HTML </title>
<!--Designed by: Pickett, Ryan: Spring 2021 CSCE 315-503-->
</head>


<style>
body {
  background-image: url(https://www.runescape.com/img/rsp777/bg2.jpg);
  background-color: black;
  background-position: center;
  background-repeat: repeat-y;
}
</style>
<table align = "center" width = "800" cellpadding = "15px">
<tr style = "background-color: LightGoldenRodYellow;">
<td>


<h2><center>
<p>Ryan Pickett
<br>Texas A&M University
<br>Date: <span id="datetime"></span></p>
<script>
var date = new Date();
document.getElementById("datetime").innerHTML = date.toLocaleDateString();
</script>
</center></h2>


<hr align = "center" width = "600px"></hr><center>
<p>
  [:Homepage:]
  <a href="http://people.tamu.edu/~ryan.pickett.w/AboutMe">[AboutMe]</a>
  <a href="http://people.tamu.edu/~ryan.pickett.w/Portfolio">[Portfolio]</a>
  <a href="http://people.tamu.edu/~ryan.pickett.w/Qualifications">[Qualifications]</a>
  <a href="http://people.tamu.edu/~ryan.pickett.w/Service">[Service]</a>
  <a href="http://people.tamu.edu/~ryan.pickett.w/Secret">[Secret]</a>
</p>
</center><hr align = "center" width = "600px"></hr>


<center><img src="http://people.tamu.edu/~ryan.pickett.w/ocean.jpg" style="width: 325px;height:275px;"></center>

<font face = "Courier New" size="2" color="Black">
<center><p>Picture taken in cuba</p></center>
</font>

<font face = "Courier New" size="3" color="Black">
<p>My goal is to work in the Software development field. I know that I must first get some internships then obtain my degree before it is possible. Once I have a steady job I would like to build a house on my own patch of land and enjoy nature. Even though it is years off I can not wait for it to happen.</p>
<p>I went straight into the United States Navy for seven years after high school. My job title was Personnel Specialist which is basically Human Resources. I did several other jobs while in such as being a Financial Specialist. I eventually decided that it was time for a career change and now I am working on a degree in a different field.</p>
<p>My hobbies are playing games and playing with electronics. I have made a retro PI arcade. I have also taken over the IT job on several occassions. One time being in Middle School the IT deptartment pulled me out of class to fix their computer system.</p>
<p>I have lived in 2 countries. The United States and Cuba. In the United States I have lived in three states. Of those states there is no place like Texas. </p>
</font>

<br>


<hr align = "center" width = "600px"></hr><center>
<p>
  [:Homepage:]
  <a href="http://people.tamu.edu/~ryan.pickett.w/AboutMe">[AboutMe]</a>
  <a href="http://people.tamu.edu/~ryan.pickett.w/Portfolio">[Portfolio]</a>
  <a href="http://people.tamu.edu/~ryan.pickett.w/Qualifications">[Qualifications]</a>
  <a href="http://people.tamu.edu/~ryan.pickett.w/Service">[Service]</a>
  <a href="http://people.tamu.edu/~ryan.pickett.w/Secret"></a>
</p>
<hr align = "center" width = "600px"></hr>
<center>
<p><a href="mailto:ryan.pickett.w@gmail.com">Contact Me</a></p>
</center>
</td>
</tr>
</table>
</body>
</html>
